<!-- 17-437 Team30
Headliner App
createEvent.html -->
{% extends "headliner/base.html" %}
{% load static %}
{% block content %}
    <div class="content">
        <form action="{% url 'create_event' %}" id="event_form" method = "POST" enctype="multipart/form-data">
            <table>
                {{form.as_table}}
            </table>
            {% csrf_token %}
            <button id="id_post_button">Submit</button>
        </form>
        <div class="map" id="gmp-map"></div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuDct23hJWRLXJsCyc-W6szXDj3swI8Kc&libraries=places,marker&callback=initMap&solution_channel=GMP_QB_addressselection_v2_cABC" async defer></script>
{% endblock %}