<!-- 17-437 Team30
Headliner App
event.html -->
{% extends "headliner/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col">
    <div class="event-div rounded-4 text-white" id="event-page">
        <div class="post-container text-white">
            <div class="title row">
                <a href="/event/${item.id}" class="h2 fw-bold text-white link-underline link-underline-opacity-0"
                    id="id_event_link_${item.id}">{{event.title}}</a>
            </div>
            <div class="image-container">
                {% if event.event_picture %}
                <img src="{{event.event_picture.url}}" alt="Event Picture" class="card-img-top event-picture rounded-5 p-2">
                {% endif %}
            </div>
            <div class="description">
                Description:
                <br>
                {{event.event_description}}
            </div>
            <div >
                Location:
                <br>
                {{event.location}}
            </div>
            <div class="price">
                Price:
                <br>
                {{event.price}}
            </div>
            <div class="title m-3">
                <!-- if profile is user's profile link to myprofile -->
                {% if event.created_by.id == userID %}
                <a href="{% url 'editevent' event.id %}"
                    class=" btn btn-danger text-white fw-bold link-underline link-underline-opacity-0"
                    id="id_event_profile_${item.id}">Edit Event</a>
                {% else %}
                <a href="{% url 'otherprofile' event.created_by.id %}"
                    class=" btn btn-dark text-white fw-bold link-underline link-underline-opacity-0"
                    id="id_event_profile_${item.id}">Event by {{event.created_by.first_name}} {{event.created_by.last_name}}</a>
                {% endif %}
            </div>
            <div class="title">
                <span id="id_event_date_time_${item.id}" class="event-date">Event on: {{event.date}} </span>
            </div>
            {% if event.created_by.id != userID %}
            <div class="title m-3">
                <form action="{% url 'event' event.id%}" id="rsvo_form" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger text-white fw-bold link-underline link-underline-opacity-0" id="rsv_button">{{ rsvp_name }}</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="col">
        <form method="post">
            {% csrf_token %}
            {{ createGroup_form.as_p }}
            <button type="submit" name="create_group_button">Create Group</button>
        </form>
        <div id="chat-groups-container">
            {% for group in chat_groups %}
                <div class="group">
                    <a href="#" class="group-link" data-group-id="{{ group.id }}">{{ group.name }}</a>
                </div>
            {% endfor %}
        </div>
        <!-- AJAX LOAD CHAT MESSAGES -->

        <div id="message-list"> </div>
        <br>

        <script>
            const addChatURL = "{% url 'ajax-add-message' %}"
            const eventId = "{{event.id}}"
            var groupId = "1"

            document.addEventListener('DOMContentLoaded', function() {
                const groupLinks = document.querySelectorAll('.group-link');
                groupLinks.forEach(function(link) {
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        groupId = this.getAttribute('data-group-id');
                        loadMessages(eventId, groupId);
                    });
                });
            });

            window.onload = function() {
                function updateMessages() {
                    loadMessages(eventId, groupId);
                    setTimeout(updateMessages, 500);
                }
                updateMessages();
            };
        </script>

        <!-- AJAX SEND NEW CHAT FORM -->

        <div class="title m-3"> SEND NEW CHAT HERE </div>
        <div>
            <label for="id_message_input_text" class="btn btn-dark text-white fw-bold link-underline link-underline-opacity-0">New Message:</label>
            <input id="id_message_input_text" type="text" name="newChat">
            <button id="id_message_button" onclick="addMessage(eventId, groupId)">Send</button>
            <br>
            <span id="error" class="error"></span>
            {% csrf_token %}
        </div>

    </div>
    </div>
    </div>
{% endblock %}