<!-- 17-437 Team30
Headliner App
event.html -->
{% extends "headliner/base.html" %}
{% load static %}
{% block content %}
    <div class="event-box" id="event-page">
        {{event.title}} at {{event.location}} on {{event.date}}
        <br>
        Description:
        <br>
        {{event.event_description}}
        <br>
        Price: {{event.price}}
        <br>
        <img src="{{event.event_picture.url}}" alt="Event Picture" class="event-picture">
    </div>

    <br>

    <div class="box">
        I'm going!
        <form action="{% url 'event' event.id%}" id="rsvp_form" method = "POST">
            {% csrf_token %}
            <button class="button" id="rsvp_button">RSVP</button>
        </form>
    </div>
{% endblock %}