<!-- 17-437 Team30
Headliner App 
login.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/headliner/headliner.css"/>
    <script src="{% static 'headliner/global.js' %}" type="text/javascript"></script>
    <meta charset="UTF-8">
</head>

<body>

    <header id="header_div">
        <div class="title" id="site_name">
            Headliner ⛲
        </div>

        <a id="logout_link" class="box" href="{% url 'logout' %}"> Logout </a>

        <a id="global_link" class="box" href="{% url 'global' %}"> Global </a>

        <a id="create_event_link" class="box" href="{% url 'create_event' %}"> Create </a>

        <div id="page_name" class="box"> Discover </div>

    </header>


    <div class="box" id="status">{{ status }}</div>
    <div class="box" id="error">{{ error }}</div>

    <div class="content">

    </div>
    <div id="events-container" class="center-posts"></div>
    <script>
        window.onload = function() {
            function updatePostsAndComments() {
                getList();
                setTimeout(updatePostsAndComments, 5000);
            }
            updatePostsAndComments();
        };
    </script>

</body>

</html>