<!-- 17-437 Team30
Headliner App
myprofile.html -->

{% extends "headliner/base.html" %}
{% load static %}
{% block head_script %}

    <script src="{% static 'headliner/global.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row prof-page">
    <div class="col-md-5  prof-details">
        <div class="container" id="page_name">
            {% block page_header %} <h1 class="display-3 fw-bold text-white">My Profile</h1> {% endblock %}
        </div>
        <div class="msg-div m-1">
            <div class="container">
                <h1 id="prof_name" class="display-4 fw-bold text-warning">{{request.user.first_name}} {{request.user.last_name}}</h1>
            </div>
            {% if request.user.profile.prof_picture %}
                <img id="profile_picture" src="{% url 'pfp' request.user.id %}" class="pp">
                <br>
            {% else %}
                <img id="profile_picture" src="/static/images/default_pfp.png" alt="My Profile Picture" class="pp">
                <br>
            {% endif %}
            {% if request.user.profile.bio %}
            <div class="container">
                <h1 id="prof-bio" class="display-5 fw-bold text-info">{{request.user.profile.bio}}</h1>
            </div>
            {% endif %}
            <div class="container">
                <h1 id="prof-email" class="display-6 fw-bold text-success">{{request.user.email}}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="container" id="page_name">
          <h1 class="display-3 fw-bold text-white">Edit Profile</h1>
        </div>
        <div class="post-container rounded-4 text-white">
            <form enctype="multipart/form-data" action="myprofile" id="myprofile_form" class="web_for" method="POST">
                <!-- <div class="container display-5 fw-bold text-white">
                    Edit profile:
                </div> -->

                <!-- <div class="container display-5 fw-bold text-white"></div> -->
                <div class="login rounded-4 text-white m-3">
                    <!-- <form action="{% url 'register' %}" method="POST"> -->
                        <table class="form-table">
                            {{form.as_table}}
                        </table>
                        <!-- <button id="register_button" type="submit">Register</button> -->
                        {% csrf_token %}
                    <!-- </form> -->
                </div>

                <button id="update_profile_button" type="submit"> Submit </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
