<!-- 17-437 Team30
Headliner App
register.html -->
{% extends "headliner/base.html" %}
{% load static %}
{% block navbar %}{% endblock %}
{% block content %}
    <header id="header_div">
        <a id="login_link" class="box" href="log-in"> Login </a>
        <div id="page_name" class="box"> Register </div>
    </header>

    <form action="register" id="register-form" method="POST">
        <table>
            {{form.as_table}}
        </table>
        <button id="register_button" type="submit">Register</button>
        {% csrf_token %}
    </form>
{% endblock %}