<!-- 17-437 Team30
Headliner App 
register.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/headliner/headliner.css"/>
    <meta charset="UTF-8">
</head>

<body>

    <header id="header_div">
        <div class="title" id="site_name">
            Headliner
        </div>

        <a id="login_link" class="box" href="log-in"> Login </a>

        <div id="page_name" class="box"> Register </div>

    </header>


    <div class="box" id="status">
        {{ status }}
    </div>

    <div class="box" id="error">
        {{ error }}
    </div>

    <form action="register" id="register_form" method="POST">

        <table>
            {{form.as_table}}
        </table>
        <button id="register_button" type="submit">Register</button>
        {% csrf_token %}
    </form>

</body>

</html>