<!-- 17-437 Team30
Headliner App
register.html -->
{% extends "headliner/base.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg justify-content-center fs-3">
    <ul class="navbar-nav">
        <div class="container-fluid"></div>
        <li class="nav-item box rounded">
            <a id="register_link" class="nav-link active fw-bold text-white" aria-current="page"
                href="{% url 'login' %}">Login</a>
        </li>
    </ul>
</nav>
{% endblock %}
{% block content %}
{% block prof_icon %}{% endblock %}
    <div class="container" id="page_name">
        {% block page_header %} <h1 class="display-3 fw-bold text-white">Register</h1> {% endblock %}
    </div>

    <div class="login event-div rounded-4 text-white ">
        <form action="{% url 'register' %}" method="POST">
            <table>
                {{form.as_table}}
            </table>
            <button id="register_button" type="submit">Register</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}