/* 17-437 Team30
Headliner App
headliner.css */

.body {
    /* background-color: #310E68; */
    background: linear-gradient(to bottom, #310E68 1%, #5F0F40 20.7%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content {
    background: transparent;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

input.search-query {
    background: linear-gradient(to bottom, #310E68 1%, #5F0F40 20.7%);
}

.title {
    text-align: center;
}

.box {
    margin: 8px;
}

.event-box {
    background-color: lightblue;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}


#register_link {
    font-size: 26px;
    color: darkblue;
    text-decoration: none;
}

#login_link {
    font-size: 26px;
    color: darkblue;
    text-decoration: none;
}

.center-form {
    text-align: center;
}

.pfp {
    margin: 0;
    padding: 0;
    height: 125px;
    width: 125px;
}

.center-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin-bottom: 10px;

}
.event-picture {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.post-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.login {

}

#login-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

#register-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

.col {
    outline: auto;
}

#event-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;

    text-align: center;
}


.event-div {
    background: linear-gradient(to bottom, rgba(0,0,0, .5) 80%, rgba(111, 109, 109, 0.473) 100%);
    align-content: center;
    width: 400px;
    /* background-color: rgba(0, 0, 0, .1) ; */
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 20px;
    padding: 10px;
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    /* color: darkblue; */
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag-div {
    background-color: IndianRed;
    width: 160px;
    border-width: 5px;
    border-style: dashed;
    border-color: crimson;
    margin: 5px;
    font-family: Helvetica;
    font-size: 22px;
    color: darkred;

}

.comment-div {
    background-color: lightblue;
    width: 240px;
    border-width: 2px;
    border-style: solid;
    border-color: cadetblue;
    margin: 5px;
    margin-left: 6vw;
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    color: cadetblue;
}

.vote-div {
    background-color: cadetblue;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 2px;
    /* margin-left: 2vw; */
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

.map {
    width: auto;
    height: 300px;
}

.search-container {
    position: relative;
    align-content: flex-start;
    width: 300px; /* Adjust width as needed */
    margin: auto; /* Center the search bar */
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Thin border */
    border-radius: 5px;
    box-sizing: border-box;
}

.px-1 {
    width: 10px;
}

.location {
    margin: 4px 2px;
    padding: 5px;
}

.h4 {
    text-align: center;
}