/* 17-437 Team30
Headliner App
headliner.css */

.body {
    background-color: lightblue;
}

.ti {
    background-color: aquamarine;
    /* padding: 20px 0; */
    /* text-align: center; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#site_name {
    text-align: center;
}

.box {
    background-color: lightblue;
    /* width: 200px; */
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

.event-box {
    background-color: lightblue;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
}

.button {
    background-color: cadetblue;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

#register_link {
    font-size: 26px;
    color: darkblue;
    text-decoration: none;
}

#login_link {
    font-size: 26px;
    color: darkblue;
    text-decoration: none;
}

.content {
    background-color: lightsalmon;
}

.center-form {
    text-align: center;
}

.center-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.event-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    margin-bottom: 10px;
}
.event-picture {
    width: 300px;
    height: 300px;
}

.post-container {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#login-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

#register-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

#event-form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;

    text-align: center;
}


.event-div {
    background-color: cornflowerblue;
    width: 310px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 5px;
    padding: 10px;
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    color: darkblue;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tag-div {
    background-color: IndianRed;
    width: 160px;
    border-width: 5px;
    border-style: dashed;
    border-color: crimson;
    margin: 5px;
    font-family: Helvetica;
    font-size: 22px;
    color: darkred;

}

.comment-div {
    background-color: lightblue;
    width: 240px;
    border-width: 2px;
    border-style: solid;
    border-color: cadetblue;
    margin: 5px;
    margin-left: 6vw;
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    color: cadetblue;
}

.vote-div {
    background-color: cadetblue;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 2px;
    /* margin-left: 2vw; */
    font-family: Helvetica;
    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

.map {
    width: auto;
    height: 300px;
  }
