/* 17-437 Team30
Headliner App
headliner.css */

.header {
    background-color: aquamarine;
    width: 100vh;
    height: 8vh;
}

.box {
    background-color: lightblue;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    margin: 8px;
    font-family: Helvetica;
    font-size: 30px;
    font-style: bold;
    color: darkblue;
}

#register_form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}

#login_form {
    background-color: darkblue;
    width: 270px;
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    margin: 8px;
    font-family: Helvetica;

    font-size: 20px;
    font-style: bold;
    color: lightblue;
}